dist
worker
.solid
.vercel
.output

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

.env*
!.env.example
# vercel
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*